{% load i18n %}
{% load static from staticfiles %}
{% if creatediv %}<div id="{{ name }}" class="leaflet-container-default"></div>{% endif %}
<script type="text/javascript">
(function () {
    function loadmap() {
        var djoptions = {% autoescape off %}{{ djoptions }}{% endautoescape %},
            options = {djoptions: djoptions, initfunc: loadmap,
                       globals: {{ NO_GLOBALS|yesno:"false,true"}}, callback: {{ callback|default:"null" }}};
        return L.Map.djangoMap('{{ name }}', options);
    }
    MapContentView.prototype.loadDjangoLeafletMap = loadmap;
})();
</script>
